/bin/
/build/
/dist/
/log/
/target/

#Useless
data/scripts/quests/
data/customlogs/
data/lang/
data/universe/
data/faenor/
data/crests/
data/logs/
data/geodata/
data/pathnode/

data/pathnode/



data/crests/
data/logs/

strix-platform/

*/cachedir/
/L2TrinityGit/

*error*

/java/aluna/*
/data/xml/droplist/*